<a href="https://colab.research.google.com/github/IshanDave1/Python_collab_project/blob/main/Lect_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python and collab :
1. Collab cells are blocks of execution
2. Last evaluated value (per runtime) is stored

##Values in Python

In [ ]:
def add(a,b):
  return a+b

print(add(4,5))

9

In [ ]:
print(len([1,2,3,4]))

4

In [ ]:
from math import *
print(sqrt(2))
print(pow(2,4))
print(log10(1000))

1.4142135623730951
16.0
3.0

In [ ]:
#default arg
print(list(range(4,10)))
print(list(range(1,10,3)))

[4, 5, 6, 7, 8, 9]
[1, 4, 7]

In [ ]:
def greet(user_name = "user"):
  print("Hello, ",user_name)

greet()

Hello,  user

In [ ]:
def power(base,exp=1):
  return base**exp

print(power(7))

7

In [ ]:
#keyword args
def operation(single,to_double):
  return single + 2*to_double

print(operation(1,3))
print(operation(to_double = 3,single = 1))

7
7

In [ ]:
# sum a list
arr = [3,5,7,10]
def sumList(arr) :
  sum = 0
  for ele in arr :
    print(ele,sum)
    sum = sum + ele
  return sum

print(sumList(arr))

3 0
5 3
7 8
10 15
25

In [ ]:
#packing arguments - list
def sumList(*arr) :
  sum = 0
  for ele in arr :
    sum = sum + ele
  return sum

sumList(1,2,10)

(1, 2, 3)

In [ ]:
def productList(*arr) :
  product = 1
  for ele in arr :
    product = product * ele
  return product

productList(1,2,10)

20

In [ ]:
#tuple
tup = [1,2,4]
print(tup)

for ele in tup:
  print(ele)

print("is 3 in the given tuple: " , 3 in tup)

#set
set_1 = {1,1,2,3}
print(set_1)

#given a list, remove duplicates:
arr = (5,4,1,2,2,1,3,4)
print( set(arr))

[1, 2, 4]
1
2
4
is 3 in the given tuple:  False
{1, 2, 3}
{1, 2, 3, 4, 5}

In [ ]:
#dict :
# 1 -> "one" , 2 -> "two" , 3 -> "three"
dict_1 = {1.5:"one" , 2:"two" , 3:"three"}
thisdict = dict(name_1 = "one", age = 36, country = "Norway")
numbers1 = dict([('x', 51), (6, -57)])
print(dict_1)

{1.5: 'one', 2: 'two', 3: 'three'}

In [ ]:
#packing arguments - dicts * -> **


dict_1 = {1:"one" , 2:"two" , 3:"three"}
def printNumToStringKVunpacked(num_dict):
  for key,value in num_dict.items() : #unpacking
    print(key,value) 

def printNumToStringKVpacked(num_dict):
  for element in num_dict.items() :
    print(element) 

def printNumToStringK(num_dict):
  for key in num_dict :
    print(key) 

def printNumToStringV(num_dict):
  for value in num_dict.values() :
    print(value) 

printNumToStringV(dict_1)
#key, value in dict.items() -> both as unpacked args
#element in dict.items() -> both as a tuple pair (key,val)
#element, value in dict -> key
#value in dict.values() -> val

# dict -> keys , dict.items() , dict.values()

one
two
three

In [ ]:
def printNumToStringKVunpacked(**num_dict):
  for key,value in dict_1.items() :
    print(key,value) 

#dict_1 = {1:"one" , 2:"two" , 3:"three"}
dict_1 = {"one":1 , "two":2 , "three":3}

printNumToStringKVunpacked(one = 1, two = 2, three = 3)

one 1
two 2
three 3

In [ ]:
#function that give sum of a list of numbers
# the user can pass either a list or the arguments seperated by comma
#function => list_sum

In [ ]:
def greet_and_sum(user_name , *args) :
  print("hello ", user_name ,"the list you have passed has the sum ", sum(args))

greet_and_sum("ishan", 1,2,3,4)

hello  ishan the list you have passed has the sum  10

In [ ]:
arr = [1,2,3]
print(sum(arr))

6

In [ ]:
a = 3
b = 2
a,b = (b,a)
print(a,b)

2 3

In [ ]:
print("greater" if 5 > 3 else "smaller")

greater